<!-- <p>employee-login works!</p> -->
<hr><br>
<div class = "col-md-6 offset-md-3">
    <div class = "border border-warning">
        <br><h1 class = "text-center">Login</h1>
        <br><h4 class = "text-center">Please enter the following details</h4><br>
    <form (ngSubmit) = "onSubmit(buttonType)">

        <div class = "form-group">
            <div class = "col-md-8 offset-md-2">
            <label> <b> Username :</b></label>
            <input type = "text" name = "username" class = "form-control" id = "empUname" required #empUname = "ngModel" [(ngModel)] = "employee.empUname" minlength="3" maxlength = "25" pattern = "(?=.*[a-z])(?=.*[A-Z])">
        
            <div *ngIf="empUname.errors && (empUname.dirty || empUname.touched)" style="color: red;">
                <div [hidden]="!empUname.errors.required">
                    Name is a required field.
                </div>
                <div [hidden]="!empUname.errors.minlength">
                    Name cannot be less than 3 characters.
                </div>
                <div [hidden]="!empUname.errors.maxlength">
                    Name cannot be more than 25 characters.
                </div>
                <div [hidden]="!empUname.errors.pattern">
                    Name does not match the pattern (Only alphabets allowed).
                </div>
            </div>

        </div>
        </div>

        
            <div class = "form-group">
            <div class = "col-md-8 offset-md-2">
                <label> <b> Password :</b></label>
                
                <input type = "password" class = "form-control" id = "empPassword" required #empPassword="ngModel" [(ngModel)] = "employee.empPassword" minlength="6" maxlength="25" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]){6,32}$">
                <div *ngIf="empPassword.errors && (empPassword.dirty || empPassword.touched)" style="color: red;">
                    <div [hidden]="!empPassword.errors.required">
                        Password is a required field
                    </div>
                    <div [hidden]="!empPassword.errors.minlength">
                        Password cannot be less than 6 characters
                    </div>
                    <div [hidden]="!empPassword.errors.maxlength">
                        Password cannot be more than 20 characters
                    </div>
                    <div [hidden]="!empPassword.errors.pattern">
                        Password does not match the pattern
                    </div>
                </div>
            </div>
            </div>
        

       <br>

        <div class = "text-center">
            

            <button (click) = "onSubmit('Login')" class = "btn btn-success" type = "submit" style="margin-right: 30px;"> <b>LOGIN</b> </button>
            <!-- <br><br> -->
            <!-- OR<br> -->
            <!-- <a routerLink = "employee-login/employee-registration">Create new account</a> -->
            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
            <button (click) = "onSubmit('Register')" class = "btn btn-info" type = "submit" style="margin-left: 30px;"> <b>REGISTER</b> </button>
            <br><br>
           
            <p class = "text-danger"><b>{{showMessage}}</b></p>

        </div>

    </form>
    </div>
</div>