<app-container></app-container>

<!-- <app-login-employee></app-login-employee> -->

<!-- <div class = "header">
    <div class = "container">
        <span>Wolken Software</span>
    </div>
</div>


<div class = "body">
<div class = "col-md-6 offset-md-3">
    <h2 class = "text-center">LOGIN</h2>
    <div class = "container">
        
        <form (ngSubmit) = "onSubmit()">

            <div class = "form-group">
                <label>Username</label>
                <input type = "text" class = "form-control" id = "empUname" [(ngModel)] = "employee.empUname" name = "empUname">
            </div>

        </form>
    </div>
</div>
</div>

<div class = "footer">
    <div class = "container">
        <span>All Rights Reserved 2021 @Wolken</span>
    </div>
</div> -->