<!-- <p>view-job works!</p> -->

<h3>Job Details</h3>
<br>
<div class = "container">
    <div>
        <label><b> Designation : </b></label> {{job.jobDesignation}}
    </div>
    <div>
        <label><b> Experience : </b></label> {{job.jobExperience}}
    </div>
    <div>
        <label><b> Salary : </b></label> {{job.jobSalary}}
    </div>
    <div>
        <label><b> Work Hours : </b></label> {{job.jobWorkHours}}
    </div>
    <button (click) = goToJobList() class = "btn btn-success"> Done </button>
</div>